<web-app>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>com.cart.AddToCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>

</web-app>