<web-app>

    <servlet>
        <servlet-name>emp</servlet-name>
        <servlet-class>com.employee.app.EmployeeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>emp</servlet-name>
        <url-pattern>/emp</url-pattern>
    </servlet-mapping>

</web-app>